       
       
       

       @font-face {

        font-family: "gruppo";
        src: url("fonts/Gruppo-Regular.ttf");
       
       }





       body {
        font-family: "gruppo";
        
      }
      
      .navbar {
        overflow: hidden;
        background-color: rgb(182, 182, 182);
        margin: 0 -10px 0 50px;
      }
      
      .navbar a {
        float: left;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 8px 15px;
        text-decoration: none;
      }
      
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      .dropdown .dropbtn {
        font-size: 20px;  
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        padding: 8px 15px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
       
      }
      
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: rgb(51, 51, 51);
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #646464;
        min-width: 160px;
        
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: rgb(202, 202, 202);
        padding: 7px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }







       
       html {
           background-color: #e0e0e0
       }
       
       h1 {
           color:rgb(58, 56, 56);
           font-size: 39px;
           font-family: "gruppo";
           
           margin: 20px 0 15px 50px;
           border-top: solid 1px rgb(143, 142, 142);
           padding: 3px 0 0 0;
           
           
       }


 h3 {
    font-family: "gruppo";
        
        padding:100px 0 0 0;
        text-align: center;
        font-size: 29px;
        
        

       }


       

        #grey {
           color:rgb(202, 202, 202);
           

       }



       


       
      
       .content {
           color: rgb(221, 221, 221);
           font-size: 23px;
           font-family: "gruppo";
           text-align: center;
           text-transform: none;
           line-height: normal;
           margin: 50px 80px 100px 80px;
           
           
           
           
           
       
       }
       .img-div {
        
        background-color: rgb(0, 0, 0);
        margin: -29px;
        
        
        
       }

       

       

      

        img {
          display: block;
        
        margin-left: auto;
        margin-right: auto;
       width: 650px;
      

    
    }
       #swish {

        
        margin: 70px 0 0 50px ;
        width: 7%;
        
        
       }





       




















       
       footer {
        
        
        
        text-align: center;
        font-size: 13px;
        background-color: rgb(102, 101, 101);
        color: white;
        font-family: "gruppo"
   }